.footerWrapper{
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    border-top: 1px solid rgb(217, 217, 217);
    display: flex;
    justify-content: flex-end;
    .flexText{
        color:blue;
        flex-direction: row;
        min-width: 110px;
    }
    .buttonText{
        margin: 5% 100% 5% 0;
        color:white;
        border-radius: 9999px;
        background-color:rgb(67, 59, 206);
        min-width: 110px;
    }
}