.pieChartContainer {
  padding-right: 0;
  border-radius: 10px;
  .pieChartTitle {
    padding: 0 1.3rem;
    padding-top: 0.8rem;
  }
  .pieChartBody {
    display: flex;
    justify-content: space-between;
    .chartLegendContainer {
      width: 33%;
      flex-direction: column;
      padding-top: 8px;
      .chartLegendItem {
        color: rgb(74, 74, 73);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0px;
        .chartLegendItemIndex {
          display: flex;
          align-items: center;
          font-size: 17px;
          .chartLegendIcon {
            padding: 0;
            padding-right: 3px;
          }
        }
        .chartLegendItemPercentage {
          margin: 0;
        }
      }
    }
  }
}
