body {
  margin: 0;
  font-family: 'Thicccboi','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi"),
    url("./fonts/THICCCBOI-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Thicccboi";
  src: local("Thicccboi"),
    url("./fonts/THICCCBOI-Regular.ttf") format("truetype");
  font-weight: normal;
}



// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
